body,
html {height: 100%;}
body{
	background: url(../images/wallpapers/mramor.jpeg);
    background-position: center;
    background-size: cover;
	margin:0;
	color:#6e6e6e;
	font:18px Arial, Helvetica, sans-serif;
}

#wrapper{
	width:100%;
	height: 100%;
	display:table;
	
}
.wrapper-holder {
	width:100%;
    display:table-row;
	background: ...
	
}
#header {
	max-width: 1170px;
	margin: 0 auto;
	padding: 50px 20px 45px;
	position:relative;
}
.logo {
	width: 350px;
	height: 75px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	margin: 0 0 43px;
}
.logo:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.logo a {
	display: block;
	height: 100%;
}
#mainNav {
	background-color: rgba(15, 15, 15, 15);
	font-family: Raleway
}

@media (min-width:992px) {
	
	#mainNav .navbar-nav .nav-item .nav-link:hover {
		color: rgba(255, 255, 255, 1)
	}
}

.promo {
	width: 100%;
	position: relative;
	margin: 0 0 40px;
}
.promo:hover {
    -webkit-filter: brightness(80%);   
}

.bg {
	position: absolute;
	background: url(../images/transparent.png);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

/* SLIDER 
#slideshow {
	width: 100%;
	height: 600px;
	position: relative;
	margin: 0 0 40px;

	
	color: #fff;
	max-width: 1170px;
	padding: 0 20px 20px;
	margin: 0 auto;
	position: relative;
	z-index: 200;
	
	#slideshow {
	color: #fff;
	max-width: 1170px;
	padding: 0 20px 20px;
	margin: 0 auto;
	position: relative;
	z-index: 200;
	
	}
	
	}
.slider li {
	background-size: cover !important;
}
	object-fit: cover;
	*/
#slider {
	width: 100%;
	height: 705px;
	object-fit: cover;
	margin: 0 0 0px;
		
}


.slide-holder {
	color: black;
	max-width: 1170px;
	padding: 0 20px 20px;
	margin: 0 auto;
	
	z-index: 200;
}
.slide-info {
	
	font-size: 18px;
	line-height: 28px;
	display: table-cell;
	vertical-align: middle;
	display: above;
	
}
.slide-info  h1 {
	font:bold 60px/72px 'novecentosanswide', Arial, Helvetica, sans-serif;
	margin: 0 0 50px;
}
.slide-info p {margin: 0 0 66px;}


/* SLIDER END */

#main {
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.boxes {
	margin: 0 0 30px -2.4%;
	overflow: hidden;
}
/* box SCALE */
/*
.boxes:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
*/
.boxes .box {
	width: 25%;
	overflow: hidden;
	float: left;
	padding: 0 0 0 1.3%;
	font-family:'novecento_sans_widemedium', Arial, Helvetica, sans-serif;
}
.boxes .box a {
	display: block;
	position: relative;
}
.boxes .box img {
	max-width:100%;
	height: auto;
}
.boxes .box a:hover {
   -webkit-filter: brightness(35%);   
}
/* button 
.boxes .box .btn {
    display: block;
    background-color: inherit;
    color: white;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}
*/
/* Change background color of buttons on hover */
.boxes .box .btn:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.boxes .box .btn.active {
    background-color: #ccc;
}

.boxes .box-info {
	position: absolute;
	top:0;
	left:0;
	z-index: 300;
	color: #fff;
	padding: 0 50px;
	text-align: center;
	text-transform: uppercase;
}
.boxes .box-info h2 {
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 4px;
	margin: 0 0 36px;
}
.boxes .box-info .title {
	display: inline-block;
	font:12px/14px 'novecento_sans_widemedium', Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	background: url(../images/bg_line.gif) no-repeat 0 50%;
	padding: 0 0 0 35px;
	margin: 0 0 26px;
}
.boxes .box-info .title span {
	background: url(../images/bg_line.gif) no-repeat 100% 50%;
	padding: 0 35px 0 0;
}
.boxes .box-info .box-info-holder {
	display: table-cell;
	vertical-align: middle;
	height: 492px;
}
#footer {
    width:100%;
    overflow:hidden;
    display:table-footer-group;
    background:#444;
}
#footer .footer-holder {
    height:1%;
    display:table-row;
}
#footer .footer-frame { display:table-cell;}
.footer-content {
	max-width: 1170px;
	margin: 0 auto;
	padding: 45px 20px 20px;
	color: #a5a5a5;
}
#footer a {color: #a5a5a5;}
#footer .col-holder {
	overflow: hidden;
	margin: 0 0 0 -2%;
}
#footer .col {
	float: left;
	width: 31.3%;
	margin: 0 0 0 2%;
	text-align: center;
	font-size: 16px;
	line-height: 23px;	
}
#footer .col .heading {
	text-align: center;
	margin: 0 0 32px;
	background: url(../images/bg_footer_line.gif) repeat-x 0 50%;
}
#footer .col p {margin: 0 0 24px;}
#footer .col address {
	margin: 0 0 25px;
}
#footer .col address p {margin: 0;}
#footer h3 {
	color: #fff;
	padding: 0 15px;
	display: inline-block;
	background: #444;
	font: 18px/22px 'novecento_sans_widemedium', Arial, Helvetica, sans-serif;
}
.social {
	overflow: hidden;
	text-align: center;
	margin: 0 0 0 -37px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
}
.social li {
	display:inline-block;
	padding: 35px 0 0;
	margin: 0 0 10px 37px;
}
.social .facebook {
	background: url(../images/ico_facebook.png) no-repeat 50% 0;
}
.social .google {
	background: url(../images/ico_google.png) no-repeat 50% 0;
}
.social .twitter {
	background: url(../images/ico_twitter.png) no-repeat 50% 0;
}

.footer-bottom {
	width: 100%;
	background: #3f3f3f;
	color: #7d7d7d;
	text-align: center;
}
.footer-bottom .holder {
	max-width: 1170px;
	margin: 0 auto;
	padding: 20px 20px;
	font-size: 14px;
	line-height: 16px;
}
	
	.social .facebook {
		background: url(../images/ico_facebook@x2.png) no-repeat 50% 0;
		background-size:10px 19px;
	}
	.social .google {
		background: url(../images/ico_google@x2.png) no-repeat 50% 0;
		background-size:21px 19px;
	}
	.social .twitter {
		background: url(../images/ico_twitter@x2.png) no-repeat 50% 0;
		background-size:22px 17px;
	}
	.breadcrumbs li {
		background: url(../images/ico_arrows@x2.png) no-repeat 0 50%;
		background-size:8px 7px;
	}
	.menu_trigger{
		background: url(../images/btn_mobile_menu@x2.png) no-repeat;
		background-size:31px 31px;
	}
}